.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.background_clip {
    z-index: -999;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 8rem; /* Must match .header height in Header.module.css */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.content_container{
    z-index: 1;
    position: absolute;
    padding: 0 10%; /* Must match Layout.module.css */
    width: 100%;
    height: 100%;
    top: 0rem ;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; 
}

.intro_content_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}

.intro_content_wrapper * {
   width: 85%;
}

.intro_content_wrapper p{
    text-align: justify;
}

.firstname{
    background-color: white;
    color: var(--primaryColor);
    padding: 1rem;
}

.bottom_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
    bottom: 18rem;
}

.icons_container, .squares_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}


.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    color: var(--primaryColor);
    padding-top: 0.65rem;
    font-size: clamp(1.5rem, 2vw, 2rem);
    background-color: white;
}

.btn_container{
    width: 25rem; 
}

.audio_button{
    font-size: clamp(10rem, 10vw, 20rem);
    z-index: 999;
    position: absolute;
    padding: 0 10%; /* Must match Layout.module.css */
    width: 100%;
    top: 40% ;
    left: 30%;
    color: rgba(255, 255, 255, 0.7);

}

/* Smaller Screen Rezise */
@media only screen and (max-width: 1200px){
    .content_container{
        padding: 0 5rem; /* Must match Layout.module.css */
    }
}
