.button_container{
    width: 18rem; 
}

.button_normal, .button_transparent{
    padding: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.button_normal{
    border: 0.1rem solid white;
    background-color: var(--backgroundColorFlip);
    color: var(--primaryColor)
}

.button_transparent{
    border: 0.1rem solid white;
    color: var(--fontColorFlip);
}

.button_transparent:hover, .button_normal:hover {
    color: var(--highlightColor);
    transition: var(--hoverTransition);
    font-weight: bold;
}

/* Phones / Tiny Screens */
@media only screen and (max-width: 500px){
    .button_container{
        width: 12.5rem; 
    }
    .button_normal, .button_transparent{
        padding: 1rem;
        letter-spacing: 0.1rem;
    } 
}

/* Small Phone Screens */
@media only screen and (max-width: 380px){
    .button_container{
        width: 10.5rem; 
    }

    .button_normal, .button_transparent{
        padding: 0.5rem;
        letter-spacing: 0rem;
    } 
}