.video_container{
    display: grid;
    place-items: center;
    width: 100%;
    position: relative;
}

.video_clip_light{
    border: 0.2rem solid white;
}
.video_clip_light, .video_clip_no_border {
    width: 100%;
    height: 101%;
}

.play_button, .audio_button_pause {
    position: absolute;
    top: 37%;
    left: 42.5%;
    font-size: clamp(7rem, 10vw, 20rem);
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
}

.audio_button_pause{
    color: rgba(255, 255, 255, 0);
}

.play_button:hover, .audio_button_pause:hover {
    color: rgba(255, 255, 255, 0.9);
    transition: var(--hoverTransition);
}


/* Smaller Screen Rezise */
@media only screen and (max-width: 1200px){
    .featured_work{
        padding: 4rem 5rem;
    }
}

/* Phones / Very Small Web Screens */
@media only screen and (max-width: 800px){
    .play_button {
        top: 32.5%;
    }

}

/* Phones / Tiny Screens */
@media only screen and (max-width: 650px){
    .play_button {
        top: 30%;
        left: 40%;
    }
}

/* Very Small Phone Screens */
@media only screen and (max-width: 420px){
    .video_container{
        width: 100%;
        position: relative;
    }

    .video_clip_light, .video_clip_no_border {
        width: 100%;
        
    }
    .play_button {
        top: 20%;
        left: 38%;
    }
}

/* Galaxy fold / < 300 px tiny screens */
@media only screen and (max-width: 300px){
    .play_button {
        top: 8%;
        left: 28.5%;
    }
}

