.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 5rem;
    color: var(--primaryColor);
    font-size: clamp(2.2rem, 2.5vw, 3.25rem);
    background-color: white;
}

.icon{
    cursor: pointer;
    z-index: 9;
}

 .icon_container:hover{
    color: var(--highlightColor);
    transition: var(--hoverTransition);

}

/* Phones / Tiny Screens */
@media only screen and (max-width: 550px){
    .icon_container{
        width: 4rem;
        height: 4rem;
    }
}