:root {
    /* primary & default colors */
    --primaryColor: '';
    --primaryColorMedium: '';
    --primaryColorLight: '';

   --secondaryColor: '';
   --secondaryColorMedium: '';
   --secondaryColorLight: '';

    --backgroundColor: '';
    --defaultColor: '';

    --fontColor: '';

    /* action colors */
    --negativeColor: '';
    --successColor: '';
    --warningColor: '';
    --disabledColor: '';
    --primaryColorOffset: '';

    /* border styles */
    --borderRadius: 0.5rem;
    
    /* form styles */
    --formInputBorderRadius: 0.5rem;

}