:root {
   /* primary & default colors */
   --primaryColor: #011F26;
   --highlightColor: #ACD1F2;
   --tertiaryColor: #919091;

    --backgroundColor: #011F26;
    --backgroundColorFlip: white;

    --fontColor: #011F26;
    --fontColorFlip: white;

    /* border styles */
    --borderRadius: 0.5rem;
    
    /* form styles */
    --formInputBorderRadius: 0.5rem;

    /* hover transition */
    --hoverTransition: 0.3s ease-in-out;

}