.selected_media{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: var(--primaryColor);
    padding: 4rem 0;
}

.selected_media h2{
    color: var(--primaryColor);
}

.media_container_highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5rem solid var(--backgroundColorFlip);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}
.media_clip_container_highlight{
    width: 100%;
    border: 0.01rem solid black; /* removes small white gap between video and text container */
}

.media_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   /*  gap: 3rem; */                /* NOTE: add in when adding more media clips AND INCREASE WIDTH */
    width: 150%;                    /* NOTE: INCREASE WIDTH WITH MORE CONTENT */
    margin-bottom: 5rem;

}

.media_clip_container{
    width: 54.5rem;
    border: 0.5rem solid var(--backgroundColorFlip);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.media_container_small_screen{
    display: none
}

/*  Small Web Screens */
@media only screen and (max-width: 1350px){
    .media_clip_container{
        width: 46%;
    }
}

/* LAYOUT CHANGES HERE -- CAROUSEL IS REPLACED BY STANDARD COLUMN LAYOUT*/
/* Very Small Web Screens */
@media only screen and (max-width: 1300px){
    .selected_media_column_gap{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .media_container, .media_container_highlight{
        display: none;
    }

    .media_container_small_screen{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 4rem;
        width: 100%;

    }
}
