.video_container{
    display: grid;
    place-items: center;
    width: 100%;
    position: relative;
}

.video_clip_light{
    border: 0.2rem solid white;
}
.video_clip_light, .video_clip_no_border {
    width: 100%;
}

.play_button, .audio_button_pause {
    position: absolute;
    top: 25%;
    left: 34%;
    font-size: clamp(7rem, 10vw, 20rem);
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
}

.audio_button_pause{
    color: rgba(255, 255, 255, 0);
}

.play_button:hover, .audio_button_pause:hover {
    color: rgba(255, 255, 255, 0.9);
    transition: var(--hoverTransition);
}

/* Small Phone Screens */
@media only screen and (max-width: 520px){
    .play_button {
        top: 18%;
        left: 28%;
    }
}
