.featured_work{
    background-image: url('../../../../public/images/featuredWorkBG.jpg');
    background-size: cover;
    background-position: center;
    padding: 4rem 10%;
}


.featured_work_content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.video_container{
    width: 100%;
    position: relative;
}

.video_clip {
    width: 100%;
    border: 0.2rem solid white;
}


.play_button {
    position: absolute;
    top: 40%;
    left: 42.5%;
    font-size: clamp(7rem, 10vw, 20rem);
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
}

.play_button:hover{
    color: rgba(255, 255, 255, 0.9);
    transition: var(--hoverTransition);
}

.media_container_small_screen{
    display: none;
}
  


/* Smaller Screen Rezise */
@media only screen and (max-width: 1200px){
    .featured_work{
        padding: 4rem 5rem;
    }
}

/* Phones / Very Small Web Screens */
@media only screen and (max-width: 800px){
    .featured_work{
        padding: 0rem 5rem;
    }

    .featured_work_content{
        display: none;
    }

    .play_button {
        top: 32.5%;
    }

    .media_container_small_screen{
        display: block;
        padding: 2.5rem 0;
    }
}

/* Phones / Tiny Screens */
@media only screen and (max-width: 650px){
    .play_button {
        top: 30%;
        left: 40%;
    }
}

/* Small Phone Screens */
@media only screen and (max-width: 520px){

}

/* Very Small Phone Screens */
@media only screen and (max-width: 420px){
    .play_button {
        top: 25%;
    }
}

