.square{
    z-index: 999;
    display: flex;
    align-items: center;
    color: var(--fontColorFlip);
    cursor: pointer;
    height: 8rem;
    padding: 1rem;    
}

.square:hover {
    background-color: white;
    transition: var(--hoverTransition);
    font-weight: bold;
}

.square p:hover{
    color: var(--fontColor);
}

