.about{
    display: flex;
    gap: 2rem;
    background-color: var(--primaryColor);
    padding: 4rem 0;
}

.about_text_container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.image_container{
    width: 800rem;
    position: relative;
    top: 10rem;

}

.bio_image{
    width: 100%;
}

/* Phones / Very Small Web Screens */
@media only screen and (max-width: 800px){
    .image_container{
        display: none;
    }
    

}